{"d83f3f3e1867780f56764c5d364b8f82b8668f2e":{"Stdout":"hello\n","Stderr":"","Exitcode":0,"Delay":0,"Stdin":"echo hello"},"d0e35126790bf3fa808be41f93376209462a42e3":{"Stdout":"hello buddy\n","Stderr":"","Exitcode":0,"Delay":0,"Stdin":"echo hello buddy"}}