{
    "8363ea3054aa1783f65ed3a211d6a2556172e57d":{
        "stdout": "Darwin coreymbpro.local 14.1.0 Darwin Kernel Version 14.1.0: Mon Dec 22 23:10:38 PST 2014; root:xnu-2782.10.72~2/RELEASE_X86_64 x86_64\n",
        "stdin": "uname -a",
        "stderr": "",
        "exitcode": 0
    }
}